rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{userId}.jpg {
      // Qualquer membro autenticado pode visualizar as fotos
      allow read: if request.auth != null;
      // O usuário pode subir apenas sua própria foto, no formato JPEG e com tamanho < 1MB
      allow write: if request.auth != null 
                   && request.auth.uid == userId
                   && request.resource.size < 1 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
